html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff; 
	line-height: 1.5;
	font-family: "Roboto", Arial, sans-serif;
	color: #000000;	
}

/* Headings */
h1,h2 {
	font-weight: medium;
}

h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 36px;
}
h5,h6 {
	font-size: 18px;
}

.container {
	padding-top: 50px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*main-header*/

.main-header {
	background-color: #eeeeee;
	width: 100%;
	min-height: 115px;
	margin-left: 0;
}

.header-logo {
	float: left;
	width: 180px;
	min-height: 100px;
	margin-right: 180px;
}

.main-navigation {
	margin-bottom: 25px;
}

.block1, .block2, .block3 {
	float: left;
	margin-right: 50px;
	min-height: 100px;
}

.block4:last-child {
	float: left;
	width: 85px;
	margin-right: 0px;
}

.user-block {
	float: right;
	width: 180px;
	margin-left: 50;
}

/*slider*/

.slider {
	float: left;
	width: 390px;
	height: auto;
	margin-right: 50px; 
	margin-bottom: 25px;
}

.slider-img {
	float: right;
	width: 600px; 
	height: 413;
	margin-right: 70px;
}

/*features*/

.features-item { 
	float: left; 
	width: 300px; 
	min-height: 350px; 
	margin-right: 100px;
	margin-bottom: 85px;  
}

.features-item:last-child {
	margin-right: 0;
}

/*about-us*/

.container-about-us {
	
}

.about-us-left {
	float: left;
	width: 650px;
	min-height: 370px;
	margin-bottom: 80px; 
}

.about-us-right {
	float: right;
	width: 350px;
	min-height: 410px;
}

.table{
	display: table;
	background-color: #ffffff;
	border-color: #ffffff;
	padding: 0;
	border-spacing: 5px;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

/* our-clients */

.our-clients {
	float: left;
	min-height: 180px;
	margin-left: 40px;
	margin-bottom: 85px;
}

.column-1,
.column-2 {
	float: left;
	width: 200px;
	margin-right: 100px;
}

.column-3 {
	float: left;
	width: 190px;
	margin-right: 120px;
}

.column-4 {
	float: right;
	margin-right: : 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*our-contacts*/

.container-our-contacts {
	display: inline-block;
	width: 1440px;
	height: 420px;
	margin-right: 1px;
	margin-bottom: 85px;
}

.map {
	background-position: 0 -100 50%;
	background-repeat: no-repeat center;
	background: url("/img/img-map.jpg") 
	margin-top: -80px;
	
}

.our-contacts-info {
	float: left;
	width: 320px;
	height: 310px;
	margin-left: 40px;
}


/*footer*/

.footer {
	min-height: auto;
}

.container-footer {
	float: left;
}

.social-btn {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 12px;
}

.footer-info {
	float: right;
}
