html,
body {
	min-width: 1440px;
	min-height: 2476px;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff 
	background-size: 1440px auto;
}

.main-header {
	min-height: 115px;
}

.container {
	width: 1240px;
	padding-top:  50px; 
	min-height: 65px;
}

.main-navigation {
	float: left;
	width: 900px;
	padding-top:  50px; 
	min-height: 65px;
}

.user-block {
	float: right;
	width: 200px;
	padding-top:  50px; 
	min-height: 65px;
}

.slider-content {
	float: left;
	min-width: 400px;
	min-height: 300px;
	margin-left: 40px; /* или 140*/
}

.slider img {
	width:700px; 
	height: 413;
	margin-right: 70px;
	/*или
	margin-right: 170px;*/

}

.features-item {
	float: left;
	width: 300px;
	margin-right: 100px;
}

.features-item: last-child {
	margin-right: 0;
}

.about-us-left {
	float: left;
	width: 650px;
	min-height: 370px;
}

.about-us-right {
	float: right;
	width: 350px;
	min-height: 400px;
}

.our-clients{
	float: left;
	width: 300px;
	height: 180px;
	margin-right: 0;
}

.our-contacts {
	width: 1440px;
	height: 420px;
}

.our-contacts-contant {
	float: left;
	width: 320px;
	height: 310px;
	margin-left: 40px;
}

.footer {
	min-height: 217px;
}

.footer-social {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 12px;
}

.footer-social: last-child {
	width: 80px;
	height: 80px;
	margin-right: 0;
}

.footer-info {
	max-width: 600px;
	min-height: 100px;
}

