html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 1440px;
	height: 2476px;
	background-color: #ffffff; 
	line-height: 1.5;
	font-family: "Roboto", Arial, sans-serif;
	color: #000000;	
}

/* Headings */
h1,h2 {
	font-weight: medium;
}

h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 36px;
}
h5,h6 {
	font-size: 18px;
}

.container {
	width: 1160px;
	margin-left: 140px;
	margin-right: 140px;
	height: auto; 
}

/*main-header*/

.main-header {
	background-color: #eeeeee;
	width: 1440px;
	min-height: 115px;
	margin-left: 0;
}

.main-navigation {
	float: left;
	width: 900px;
	padding-top:  50px; 
	min-height: 65px;
}

.user-block {
	float: right;
	width: 200px;
	padding-top:  50px; 
	min-height: 65px;
}

/*slider*/

.slider-content {
	float: left;
	width: 400px;
	min-height: 300px;
	margin-left: 0; 
}

.slider img {
	width:700px; 
	height: 413;
	margin-right: 70px;
}

/*features*/

.features-item {
	float: left;
	width: 300px;
	min-height: 347px;
	margin: 0 80px 100px 80px;
}

.features-item: last-child {
	margin-right: 0;
}

/*catalog*/

.catalog-content-left {
	float: left;
	width:270px; 
	height:auto;
}

/*gallery*/

.catalog-content-right {
	float: right;
	width: 760px;
	height: auto;
	/* или height: 2225px; - ?*/
}

.gallery-item {
  display: inline-block;
  padding: 0;
  width: 360px;
  height: 615px;
}

/*about-us*/

.about-us-left {
	float: left;
	width: 650px;
	min-height: 370px;
	margin: 0 80px 150px 77px;
}

.about-us-right {
	float: right;
	width: 350px;
	min-height: 400px;
	margin: 150px 40px 0 80px;
}

/*our-clients*/

.our-clients{
	float: left;
	width: 300px;
	height: 180px;
	margin-right: 0;
}

/*our-contacts*/

.our-contacts {
	width: 1440px;
	height: 420px;
}

.our-contacts-contant {
	float: left;
	width: 320px;
	height: 310px;
	margin-left: 40px;
}

/*footer*/

.footer {
	min-height: 217px;
}

.footer-social {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 12px;
}

.footer-social: last-child {
	width: 80px;
	height: 80px;
	margin-right: 0;
}

.footer-info {
	max-width: 600px;
	min-height: 100px;
}
