h1 {	
	font-size:55px;
	line-height: 55px;
	color:#000000;
	font-weight: Medium; 
	font-family:Roboto;
}

/*=======================
MAIN-NAVIGATION
=======================*/

h2 {
 	font-size:45px;
	line-height: 45px;
	color:#000000;
	font-weight: Medium; 
	font-family:Roboto;
}


h3 {
	font-size:36px;
	line-height: 36px;
	color:#000000;
	font-weight: Bold; 
	font-family:Roboto;
}


h4 {
	font-size:24px;
	line-height: 30px;
	color:#000000; 	
	font-weight: Bold;
	font-family:Roboto;
}


h5 {
	font-size:18px;
	line-height: 30px;
	color:#000000;
	font-weight: Bold; 
	font-family:Roboto;
}	


h6 {
	font-size:14px;
	line-height: 18px;
	color:#000000;
	font-weight: Regilar; 
	font-family:Roboto;	
}


P {
	font-size:16px;
	line-height: 24px;
	color:#000000; 
	font-weight: Regular;
	font-family:Roboto; 
}


