html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff; 
	line-height: 1.5;
	font-family: "Roboto", Arial, sans-serif;
	color: #000000;	
}

/* Headings */
h1,h2 {
	font-weight: medium;
}

h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 36px;
}
h5,h6 {
	font-size: 18px;
}

.container {
	padding-top:  50px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*main-header*/

.main-header {
	background-color: #eeeeee;
	width: 1440px;
	min-height: 115px;
	margin-left: 0;
	margin-bottom: 85px;
}

.main-navigation {
	float: left;
	width: 900px;
	min-height: 65px;
}

.main-navigation:last-child {
	margin-right: 0;
}

.user-block {
	float: right;
	width: 200px;
	padding-top:  50px; 
	min-height: 65px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
/*slider*/
.slider-content {
	float: left;
	width: 400px;
	min-height: 300px;
	margin-left: 0; 
}

.slider-img {
	float: right;
	width:700px; 
	height: 413;
	margin-right: 70px;
}

/*features*/

.features-item { 
	float: left; 
	width: 300px; 
	min-height: 350px; 
	margin-right: 100px;
	margin-bottom: 85px;  
}

.features-item:last-child {
	margin-right: 0;
}

/*about-us*/
.about-us {
	margin-bottom: 185px;
}

.about-us-left {
	float: left;
	width: 650px;
	min-height: 370px;
	margin: 0 80px 150px 77px;
}

.about-us-right {
	float: right;
	width: 350px;
	min-height: 400px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*our-clients*/

.our-clients{
	float: left;
	width: 250px;
	height: 180px;
	margin-right: 50px;
	margin-bottom: 85px;
}

.our-clients:last-child {
	margin-right: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*our-contacts*/

.our-contacts {
	margin-bottom: 85px;
}


.our-contacts {
	width: 1440px;
	height: 420px;
}

.our-contacts-contant {
	float: left;
	width: 320px;
	height: 310px;
	margin-left: 40px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*footer*/


.footer {
	min-height: 217px;
}


.footer-info {
	max-width: 600px;
	min-height: 100px;
}
